.is-height-full {
    height: 100vh !important;
}

.margin-top-5 {
    margin-top: 5em !important;
}

.w-100 {
    width: 100% !important;
}


nav {
    background-color: #fff !important;
    border-bottom: 1px solid #d8d8d8;
}

.opac-5 {
    opacity: .5 !important;
}

.card > footer.card-footer {
    overflow: hidden !important;
}